.editor{
    border: 1px solid #999;
}
.toolbar{
    background-color: #eee;
}
.text{
    min-height: 300px;
}

.btn{
    margin: 20px 10px 0 0;
    float: right;
    width: 200px;
    height: 40px;
    line-height: 40px;
}